## Feature Engineering

#### Feature Scaling

### Standardization and Normalization

In [24]:
## Normalization (min-max Normalization)

##      Xnorm = (X - Xmin)/(Xmax - Xmin)

In [25]:
import pandas as pd

In [26]:
df = pd.read_csv("https://github.com/krishnaik06/Machine-Learning-in-90-days/blob/master/Section%201-%20Python%20Crash%20Course/wine.csv")

ParserError: Error tokenizing data. C error: Expected 1 fields in line 71, saw 2

In [ ]:
df = pd.read_csv("https://github.com/krishnaik06/Machine-Learning-in-90-days/blob/master/Section%201-%20Python%20Crash%20Course/wine.csv")

In [ ]:
df   ## Wrong url, chose raw and then copy the url

In [ ]:
df= pd.read_csv("https://raw.githubusercontent.com/krishnaik06/Machine-Learning-in-90-days/master/Section%201-%20Python%20Crash%20Course/wine.csv")

In [ ]:
df.head()

In [ ]:
df= pd.read_csv("https://raw.githubusercontent.com/krishnaik06/Machine-Learning-in-90-days/master/Section%201-%20Python%20Crash%20Course/wine.csv",header=None,usecols=[0,1,2])
df.head()

In [ ]:
df.columns=["Class","Alcohol","Malic"]

In [ ]:
df

In [ ]:
sns.heatmap(df.isnull(),cmap="viridis")

In [ ]:
df["Class"].mean()

In [ ]:
df.drop(index=0,inplace=True)    ## Dropping first row as it was inappropriate

In [ ]:
df

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
scale=MinMaxScaler()

In [ ]:
scale.fit_transform(df[["Alcohol","Malic"]])

In [ ]:
## The data was not right, the below data is right

In [ ]:
df= pd.read_csv("https://raw.githubusercontent.com/krishnaik06/Machine-Learning-in-90-days/master/Section%201-%20Python%20Crash%20Course/wine.csv",header=None,usecols=[0,1,2,3],index_col=False)

In [ ]:
df.head()

In [ ]:
df.drop(index=0,columns=0,inplace=True)

In [ ]:
df.head()

In [ ]:
df.columns=["Class","Alcohol","Malic"]

In [ ]:
df[["Alcohol","Malic"]]

In [ ]:
scale.fit_transform(df[["Alcohol","Malic"]])

## Standardization  (Z-score Normalization)

 Here all the features will be transformed in such a way that it will have the properties of standard normal distribution with mean(u)=0 and standard deviation = 1 ,  by using formula      z = (x-u)/std. deviation

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
scaling= StandardScaler()

In [ ]:
a=scaling.fit_transform(df[["Alcohol","Malic"]])

In [ ]:
a

In [ ]:
a[0]

In [ ]:
a[0][0]

In [ ]:
a[:][0]

In [ ]:
####--------------------------------------------------------------------------------------------------------------------------##

## Feature Engineering

## Count or frequency encoding

### High Cardinality


Another way to refer to variables that have a multitude of categories, is to call them variables with high cardinality.

If we have categorical variables containing many multiple labels or high cardinality,then by using one hot encoding, we will expand the feature space dramatically.

One approach that is heavily used in Kaggle competitions, is to replace each label of the categorical variable by the count, this is the amount of times each label appears in the dataset. Or the frequency, this is the percentage of observations within that category. The 2 are equivalent.

Let's see how this works:

In [ ]:
import pandas as pd
import numpy as np

In [46]:
df= pd.read_csv("C:\\Users\\Jayesh\\Desktop\\mercedesbenz.csv",usecols=[3,4])

In [47]:
df.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [48]:
df.shape

(4209, 2)

In [49]:
df.X1.unique()

array(['v', 't', 'w', 'b', 'r', 'l', 's', 'aa', 'c', 'a', 'e', 'h', 'z',
       'j', 'o', 'u', 'p', 'n', 'i', 'y', 'd', 'f', 'm', 'k', 'g', 'q',
       'ab'], dtype=object)

In [50]:
df["X2"].unique()

array(['at', 'av', 'n', 'e', 'as', 'aq', 'r', 'ai', 'ak', 'm', 'a', 'k',
       'ae', 's', 'f', 'd', 'ag', 'ay', 'ac', 'ap', 'g', 'i', 'aw', 'y',
       'b', 'ao', 'al', 'h', 'x', 'au', 't', 'an', 'z', 'ah', 'p', 'am',
       'j', 'q', 'af', 'l', 'aa', 'c', 'o', 'ar'], dtype=object)

In [51]:
df.columns.value_counts()

X1    1
X2    1
dtype: int64

In [52]:
df.columns

Index(['X1', 'X2'], dtype='object')

In [53]:

len(df.X2.unique())

44

In [54]:
len(df.X1.unique())

27

In [55]:
df.columns[0:]

Index(['X1', 'X2'], dtype='object')

In [56]:
for col in df.columns:
    print(col, ":", len(col.unique()), "labels")

AttributeError: 'str' object has no attribute 'unique'

In [57]:
for col in df.columns:
    print(col, ":", len(df[col].unique()), "labels")

X1 : 27 labels
X2 : 44 labels

In [ ]:
## Here if we apply pd.get_dummies(df) i.e. One hot encoding will get 69 more rows which is not good for our machine learning model.
## So we will use Count or frequency encoding technique

In [58]:
df.X2

0       at
1       av
2        n
3        n
4        n
        ..
4204    as
4205     t
4206     r
4207     e
4208    ae
Name: X2, Length: 4209, dtype: object

In [59]:
df.X2.value_counts()

as    1659
ae     496
ai     415
m      367
ak     265
r      153
n      137
s       94
f       87
e       81
aq      63
ay      54
a       47
t       29
i       25
k       25
b       21
ao      20
ag      19
z       19
d       18
ac      13
g       12
ap      11
y       11
x       10
aw       8
at       6
h        6
q        5
al       5
an       5
av       4
p        4
ah       4
au       3
o        1
l        1
am       1
c        1
j        1
aa       1
ar       1
af       1
Name: X2, dtype: int64

In [60]:
frequency= df.X2.value_counts().to_dict()

In [61]:
frequency

{'as': 1659,
 'ae': 496,
 'ai': 415,
 'm': 367,
 'ak': 265,
 'r': 153,
 'n': 137,
 's': 94,
 'f': 87,
 'e': 81,
 'aq': 63,
 'ay': 54,
 'a': 47,
 't': 29,
 'i': 25,
 'k': 25,
 'b': 21,
 'ao': 20,
 'ag': 19,
 'z': 19,
 'd': 18,
 'ac': 13,
 'g': 12,
 'ap': 11,
 'y': 11,
 'x': 10,
 'aw': 8,
 'at': 6,
 'h': 6,
 'q': 5,
 'al': 5,
 'an': 5,
 'av': 4,
 'p': 4,
 'ah': 4,
 'au': 3,
 'o': 1,
 'l': 1,
 'am': 1,
 'c': 1,
 'j': 1,
 'aa': 1,
 'ar': 1,
 'af': 1}

In [62]:
df[["X2","X1"]]

      X2 X1
0     at  v
1     av  t
2      n  w
3      n  t
4      n  v
...   .. ..
4204  as  s
4205   t  o
4206   r  v
4207   e  r
4208  ae  r

[4209 rows x 2 columns]

In [64]:
df.X2

0       at
1       av
2        n
3        n
4        n
        ..
4204    as
4205     t
4206     r
4207     e
4208    ae
Name: X2, Length: 4209, dtype: object

In [65]:
df.X2= df.X2.map(frequency)

In [68]:
df.X2.map?

In [67]:
df.head(50)

    X1    X2
0    v     6
1    t     4
2    w   137
3    t   137
4    v   137
5    b    81
6    r    81
7    l  1659
8    s  1659
9    b    63
10   r   153
11   r    81
12   b   415
13   r    81
14   s  1659
15   l   265
16   r    81
17  aa  1659
18   c   367
19   a   265
20   s   367
21  aa  1659
22   r    47
23   b   367
24   r   265
25   s   367
26   l  1659
27  aa  1659
28   s  1659
29   b   367
30   v  1659
31   e  1659
32   b   367
33   s  1659
34   s  1659
35   b   415
36   l  1659
37   v    25
38   v  1659
39   s  1659
40   l  1659
41   h   496
42  aa   415
43   s  1659
44   z   415
45   b   367
46   r   415
47  aa   367
48   w     4
49   j   415

## There are some advantages and disadvantages that we will discuss now

Advantages

1 It is very simple to implement

2 Does not increase the feature dimensional space

Disadvantages

1 If some of the labels have the same count, then they will be replaced with the same count and they will loose some valuable information.

2 Adds somewhat arbitrary numbers, and therefore weights to the different labels, that may not be related to their predictive power

Follow this thread in Kaggle for more information: https://www.kaggle.com/general/16927

In [70]:
##-------------------------------------------------------------------------------------------------------------------------####

## One hot encoding - Variables with many categories

In [93]:
df=pd.read_csv("C:\\Users\\Jayesh\\Desktop\\mercedesbenz.csv")
df.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [94]:
df.describe()

,ID,y,X10,X11,X12,X13,X14,X15,X16,X17,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,4209.000000,4209.000000,4209.000000,4209.0,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000
mean,4205.960798,100.669318,0.013305,0.0,0.075077,0.057971,0.428130,0.000475,0.002613,0.007603,...,0.318841,0.057258,0.314802,0.020670,0.009503,0.008078,0.007603,0.001663,0.000475,0.001426
std,2437.608688,12.679381,0.114590,0.0,0.263547,0.233716,0.494867,0.021796,0.051061,0.086872,...,0.466082,0.232363,0.464492,0.142294,0.097033,0.089524,0.086872,0.040752,0.021796,0.037734
min,0.000000,72.110000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2095.000000,90.820000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4220.000000,99.150000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6314.000000,109.010000,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8417.000000,265.320000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 378 entries, ID to X385
dtypes: float64(1), int64(369), object(8)
memory usage: 12.1+ MB

In [96]:
## Let's load only categorical values in our dataset and perform one hot encoding on them

In [97]:
df=pd.read_csv("C:\\Users\\Jayesh\\Desktop\\mercedesbenz.csv",usecols=["X1","X2","X3","X4","X5","X6"])
df.head()

  X1  X2 X3 X4 X5 X6
0  v  at  a  d  u  j
1  t  av  e  d  y  l
2  w   n  c  d  x  j
3  t   n  f  d  x  l
4  v   n  f  d  h  d

In [101]:
for col in df.columns:
    print(len(df[col].unique()))

27
44
7
4
29
12

In [102]:
df=pd.get_dummies(df,drop_first=True)

In [103]:
df.head()

,X1_aa,X1_ab,X1_b,X1_c,X1_d,X1_e,X1_f,X1_g,X1_h,X1_i,...,X6_c,X6_d,X6_e,X6_f,X6_g,X6_h,X6_i,X6_j,X6_k,X6_l
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [104]:
df.shape ## As we can see , here a huge no. of features are added and it will make our ml model slow.

(4209, 117)

In [121]:
df=pd.read_csv("C:\\Users\\Jayesh\\Desktop\\mercedesbenz.csv",usecols=["X1","X2","X3","X4","X5","X6"])
df.head()

  X1  X2 X3 X4 X5 X6
0  v  at  a  d  u  j
1  t  av  e  d  y  l
2  w   n  c  d  x  j
3  t   n  f  d  x  l
4  v   n  f  d  h  d

In [122]:
df.X1.value_counts().head(10)

aa    833
s     598
b     592
l     590
v     408
r     251
i     203
a     143
c     121
o      82
Name: X1, dtype: int64

In [123]:
for col in df.columns:
    print(df[col].value_counts().head(10))

aa    833
s     598
b     592
l     590
v     408
r     251
i     203
a     143
c     121
o      82
Name: X1, dtype: int64
as    1659
ae     496
ai     415
m      367
ak     265
r      153
n      137
s       94
f       87
e       81
Name: X2, dtype: int64
c    1942
f    1076
a     440
d     290
g     241
e     163
b      57
Name: X3, dtype: int64
d    4205
a       2
b       1
c       1
Name: X4, dtype: int64
v    231
w    231
q    220
r    215
s    214
d    214
n    212
m    208
p    208
i    207
Name: X5, dtype: int64
g    1042
j    1039
d     625
i     488
l     478
a     206
h     190
k      43
c      38
b      28
Name: X6, dtype: int64

In [127]:
top_10=[ x for x in df.X2.value_counts().head(10).index]        ## Ascending is False by default

In [128]:
top_10

['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e']

In [129]:
for i in top_10:
    df[i]= np.where(df["X2"]==i,1,0)

In [142]:
type(df["as"])

pandas.core.series.Series

In [133]:
df["as"]

0       0
1       0
2       0
3       0
4       0
       ..
4204    1
4205    0
4206    0
4207    0
4208    0
Name: as, Length: 4209, dtype: int32

In [135]:
df["n"]

0       0
1       0
2       1
3       1
4       1
       ..
4204    0
4205    0
4206    0
4207    0
4208    0
Name: n, Length: 4209, dtype: int32

In [137]:
type(top_10)

list

In [138]:
top_10

['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e']

In [140]:
top_10[0]

'as'

In [141]:
df[["X2"]+["ae"]]

      X2  ae
0     at   0
1     av   0
2      n   0
3      n   0
4      n   0
...   ..  ..
4204  as   0
4205   t   0
4206   r   0
4207   e   0
4208  ae   1

[4209 rows x 2 columns]

In [131]:
df["X2"+top_10].head(10)

TypeError: can only concatenate str (not "list") to str

In [143]:
df[["X2"]+top_10].head(40)

    X2  as  ae  ai  m  ak  r  n  s  f  e
0   at   0   0   0  0   0  0  0  0  0  0
1   av   0   0   0  0   0  0  0  0  0  0
2    n   0   0   0  0   0  0  1  0  0  0
3    n   0   0   0  0   0  0  1  0  0  0
4    n   0   0   0  0   0  0  1  0  0  0
5    e   0   0   0  0   0  0  0  0  0  1
6    e   0   0   0  0   0  0  0  0  0  1
7   as   1   0   0  0   0  0  0  0  0  0
8   as   1   0   0  0   0  0  0  0  0  0
9   aq   0   0   0  0   0  0  0  0  0  0
10   r   0   0   0  0   0  1  0  0  0  0
11   e   0   0   0  0   0  0  0  0  0  1
12  ai   0   0   1  0   0  0  0  0  0  0
13   e   0   0   0  0   0  0  0  0  0  1
14  as   1   0   0  0   0  0  0  0  0  0
15  ak   0   0   0  0   1  0  0  0  0  0
16   e   0   0   0  0   0  0  0  0  0  1
17  as   1   0   0  0   0  0  0  0  0  0
18   m   0   0   0  1   0  0  0  0  0  0
19  ak   0   0   0  0   1  0  0  0  0  0
20   m   0   0   0  1   0  0  0  0  0  0
21  as   1   0   0  0   0  0  0  0  0  0
22   a   0   0   0  0   0  0  0  0  0  0
23   m   0   0   0  1   0  0  0  0  0  0
24  ak   0   0   0  0   1  0  0  0  0  0
25   m   0   0   0  1   0  0  0  0  0  0
26  as   1   0   0  0   0  0  0  0  0  0
27  as   1   0   0  0   0  0  0  0  0  0
28  as   1   0   0  0   0  0  0  0  0  0
29   m   0   0   0  1   0  0  0  0  0  0
30  as   1   0   0  0   0  0  0  0  0  0
31  as   1   0   0  0   0  0  0  0  0  0
32   m   0   0   0  1   0  0  0  0  0  0
33  as   1   0   0  0   0  0  0  0  0  0
34  as   1   0   0  0   0  0  0  0  0  0
35  ai   0   0   1  0   0  0  0  0  0  0
36  as   1   0   0  0   0  0  0  0  0  0
37   k   0   0   0  0   0  0  0  0  0  0
38  as   1   0   0  0   0  0  0  0  0  0
39  as   1   0   0  0   0  0  0  0  0  0

In [144]:
## Generalized function

In [164]:
def one_hot_encode(df,variable,top_10s):
    for i in top_10s:
        df[variable+'_'+i]= np.where(df[variable]==i,1,0)

In [165]:

## Read the data again:
data=pd.read_csv("C:\\Users\\Jayesh\\Desktop\\mercedesbenz.csv",usecols=["X1","X2","X3","X4","X5","X6"])

In [166]:
df.head()

  X1  X2 X3 X4 X5 X6  as  ae  ai  m  ak  r  n  s  f  e
0  v  at  a  d  u  j   0   0   0  0   0  0  0  0  0  0
1  t  av  e  d  y  l   0   0   0  0   0  0  0  0  0  0
2  w   n  c  d  x  j   0   0   0  0   0  0  1  0  0  0
3  t   n  f  d  x  l   0   0   0  0   0  0  1  0  0  0
4  v   n  f  d  h  d   0   0   0  0   0  0  1  0  0  0

In [167]:
data.head()

  X1  X2 X3 X4 X5 X6
0  v  at  a  d  u  j
1  t  av  e  d  y  l
2  w   n  c  d  x  j
3  t   n  f  d  x  l
4  v   n  f  d  h  d

In [168]:
one_hot_encode(data,"X2",top_10)

In [170]:
data.head()

,X1,X2,X3,X4,X5,X6,X2_as,X2_ae,X2_ai,X2_m,X2_ak,X2_r,X2_n,X2_s,X2_f,X2_e
0,v,at,a,d,u,j,0,0,0,0,0,0,0,0,0,0
1,t,av,e,d,y,l,0,0,0,0,0,0,0,0,0,0
2,w,n,c,d,x,j,0,0,0,0,0,0,1,0,0,0
3,t,n,f,d,x,l,0,0,0,0,0,0,1,0,0,0
4,v,n,f,d,h,d,0,0,0,0,0,0,1,0,0,0

In [172]:
df["X3"+'_'+"as"]

KeyError: 'X3_as'

In [178]:
data["x9"]=data["X2"]

In [179]:
data["x9"]        ## If we initalize any column in dataframe, it automatically get added in overall dataset

0       at
1       av
2        n
3        n
4        n
        ..
4204    as
4205     t
4206     r
4207     e
4208    ae
Name: x9, Length: 4209, dtype: object

In [180]:
data.head()

,X1,X2,X3,X4,X5,X6,X2_as,X2_ae,X2_ai,X2_m,X2_ak,X2_r,X2_n,X2_s,X2_f,X2_e,x9
0,v,at,a,d,u,j,0,0,0,0,0,0,0,0,0,0,at
1,t,av,e,d,y,l,0,0,0,0,0,0,0,0,0,0,av
2,w,n,c,d,x,j,0,0,0,0,0,0,1,0,0,0,n
3,t,n,f,d,x,l,0,0,0,0,0,0,1,0,0,0,n
4,v,n,f,d,h,d,0,0,0,0,0,0,1,0,0,0,n

In [183]:
data.drop(columns=
          "x9")

,X1,X2,X3,X4,X5,X6,X2_as,X2_ae,X2_ai,X2_m,X2_ak,X2_r,X2_n,X2_s,X2_f,X2_e
0,v,at,a,d,u,j,0,0,0,0,0,0,0,0,0,0
1,t,av,e,d,y,l,0,0,0,0,0,0,0,0,0,0
2,w,n,c,d,x,j,0,0,0,0,0,0,1,0,0,0
3,t,n,f,d,x,l,0,0,0,0,0,0,1,0,0,0
4,v,n,f,d,h,d,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,s,as,c,d,aa,d,1,0,0,0,0,0,0,0,0,0
4205,o,t,d,d,aa,h,0,0,0,0,0,0,0,0,0,0
4206,v,r,a,d,aa,g,0,0,0,0,0,1,0,0,0,0
4207,r,e,f,d,aa,l,0,0,0,0,0,0,0,0,0,1
4208,r,ae,c,d,aa,g,0,1,0,0,0,0,0,0,0,0

In [184]:
## X1 encoding

In [186]:
top_10=[ x for x in data.X1.value_counts().head(10).index]
top_10

['aa', 's', 'b', 'l', 'v', 'r', 'i', 'a', 'c', 'o']

In [188]:
one_hot_encode(data,"X1",top_10)

In [189]:
data.head()

,X1,X2,X3,X4,X5,X6,X2_as,X2_ae,X2_ai,X2_m,...,X1_aa,X1_s,X1_b,X1_l,X1_v,X1_r,X1_i,X1_a,X1_c,X1_o
0,v,at,a,d,u,j,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,t,av,e,d,y,l,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,w,n,c,d,x,j,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,t,n,f,d,x,l,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,v,n,f,d,h,d,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [190]:
## This is how we perform one hot encoding for categorical variables with high cardinality
## We just consider the top 10  most frequent values and compute encoding on them(not by dummy function)

In [191]:
##--------------------------------------------------------------------------------------------------------------------------###

## Ordinal numbering encoding or Label Encoding


Ordinal data is a categorical, statistical data type where the variables have natural, ordered categories and the distances between the categories is not known.



For example:

1) Student's grade in an exam (A, B, C or Fail).

2) Educational level, with the categories: Elementary school, High school, College graduate, PhD ranked from 1 to 4.

When the categorical variables are ordinal, the most straightforward best approach is to replace the labels by some ordinal number based on the ranks.

In [226]:
import datetime as dts

In [227]:
help(dts)

Help on module datetime:

NAME
    datetime - Fast implementation of the datetime type.

MODULE REFERENCE
    https://docs.python.org/3.8/library/datetime

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

CLASSES
    builtins.object
        date
            datetime
        time
        timedelta
        tzinfo
            timezone

    class date(builtins.object)
     |  date(year, month, day) --> date object
     |
     |  Methods defined here:
     |
     |  __add__(self, value, /)
     |      Return self+value.
     |
     |  __eq__(self, value, /)
     |      Return self==value.
     |
     |  __format__(...)
     |      Formats self with strftime.
     |
     |  __ge__(self, value, /)
     |      Return self>=value.
     |
     |  __getattribute__(self, name, /)
     |      Return getattr(self, name).
     |
     |  __gt__(self, value, /)
     |      Return self>value.
     |
     |  __hash__(self, /)
     |      Return hash(self).
     |
     |  __le__(self, value, /)
     |      Return self<=value.
     |
     |  __lt__(self, value, /)
     |      Return self<value.
     |
     |  __ne__(self, value, /)
     |      Return self!=value.
     |
     |  __radd__(self, value, /)
     |      Return value+self.
     |
     |  __reduce__(...)
     |      __reduce__() -> (cls, state)
     |
     |  __repr__(self, /)
     |      Return repr(self).
     |
     |  __rsub__(self, value, /)
     |      Return value-self.
     |
     |  __str__(self, /)
     |      Return str(self).
     |
     |  __sub__(self, value, /)
     |      Return self-value.
     |
     |  ctime(...)
     |      Return ctime() style string.
     |
     |  isocalendar(...)
     |      Return a 3-tuple containing ISO year, week number, and weekday.
     |
     |  isoformat(...)
     |      Return string in ISO 8601 format, YYYY-MM-DD.
     |
     |  isoweekday(...)
     |      Return the day of the week represented by the date.
     |      Monday == 1 ... Sunday == 7
     |
     |  replace(...)
     |      Return date with new specified fields.
     |
     |  strftime(...)
     |      format -> strftime() style string.
     |
     |  timetuple(...)
     |      Return time tuple, compatible with time.localtime().
     |
     |  toordinal(...)
     |      Return proleptic Gregorian ordinal.  January 1 of year 1 is day 1.
     |
     |  weekday(...)
     |      Return the day of the week represented by the date.
     |      Monday == 0 ... Sunday == 6
     |
     |  ----------------------------------------------------------------------
     |  Class methods defined here:
     |
     |  fromisocalendar(...) from builtins.type
     |      int, int, int -> Construct a date from the ISO year, week number and weekday.
     |
     |      This is the inverse of the date.isocalendar() function
     |
     |  fromisoformat(...) from builtins.type
     |      str -> Construct a date from the output of date.isoformat()
     |
     |  fromordinal(...) from builtins.type
     |      int -> date corresponding to a proleptic Gregorian ordinal.
     |
     |  fromtimestamp(timestamp, /) from builtins.type
     |      Create a date from a POSIX timestamp.
     |
     |      The timestamp is a number, e.g. created via time.time(), that is interpreted
     |      as local time.
     |
     |  today(...) from builtins.type
     |      Current date or datetime:  same as self.__class__.fromtimestamp(time.time()).
     |
     |  ----------------------------------------------------------------------
     |  Static methods defined here:
     |
     |  __new__(*args, **kwargs) from builtins.type
     |      Create and return a new object.  See help(type) for accurate signature.
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  day
     |
     |  month
     |
     |  year
     |
     |  ----------------------------------------------------------------------
     |  Data and other attributes defined here:
     |
     |  max = datetime.date(9999, 12, 31)
     |
     |  min = datetime.date(1, 1, 1)
     |
     |  resolution = datetime.timedelta(days=1)

    class datetime(date)
     |  datetime(year, month, day[, hour[, minute[, second[, microsecond[,tzinfo]]]]])
     |
     |  The year, month and day arguments are required. tzinfo may be None, or an
     |  instance of a tzinfo subclass. The remaining arguments may be ints.
     |
     |  Method resolution order:
     |      datetime
     |      date
     |      builtins.object
     |
     |  Methods defined here:
     |
     |  __add__(self, value, /)
     |      Return self+value.
     |
     |  __eq__(self, value, /)
     |      Return self==value.
     |
     |  __ge__(self, value, /)
     |      Return self>=value.
     |
     |  __getattribute__(self, name, /)
     |      Return getattr(self, name).
     |
     |  __gt__(self, value, /)
     |      Return self>value.
     |
     |  __hash__(self, /)
     |      Return hash(self).
     |
     |  __le__(self, value, /)
     |      Return self<=value.
     |
     |  __lt__(self, value, /)
     |      Return self<value.
     |
     |  __ne__(self, value, /)
     |      Return self!=value.
     |
     |  __radd__(self, value, /)
     |      Return value+self.
     |
     |  __reduce__(...)
     |      __reduce__() -> (cls, state)
     |
     |  __reduce_ex__(...)
     |      __reduce_ex__(proto) -> (cls, state)
     |
     |  __repr__(self, /)
     |      Return repr(self).
     |
     |  __rsub__(self, value, /)
     |      Return value-self.
     |
     |  __str__(self, /)
     |      Return str(self).
     |
     |  __sub__(self, value, /)
     |      Return self-value.
     |
     |  astimezone(...)
     |      tz -> convert to local time in new timezone tz
     |
     |  ctime(...)
     |      Return ctime() style string.
     |
     |  date(...)
     |      Return date object with same year, month and day.
     |
     |  dst(...)
     |      Return self.tzinfo.dst(self).
     |
     |  isoformat(...)
     |      [sep] -> string in ISO 8601 format, YYYY-MM-DDT[HH[:MM[:SS[.mmm[uuu]]]]][+HH:MM].
     |      sep is used to separate the year from the time, and defaults to 'T'.
     |      timespec specifies what components of the time to include (allowed values are 'auto', 'hours', 'minutes', 'seconds', 'milliseconds', and 'microseconds').
     |
     |  replace(...)
     |      Return datetime with new specified fields.
     |
     |  time(...)
     |      Return time object with same time but with tzinfo=None.
     |
     |  timestamp(...)
     |      Return POSIX timestamp as float.
     |
     |  timetuple(...)
     |      Return time tuple, compatible with time.localtime().
     |
     |  timetz(...)
     |      Return time object with same time and tzinfo.
     |
     |  tzname(...)
     |      Return self.tzinfo.tzname(self).
     |
     |  utcoffset(...)
     |      Return self.tzinfo.utcoffset(self).
     |
     |  utctimetuple(...)
     |      Return UTC time tuple, compatible with time.localtime().
     |
     |  ----------------------------------------------------------------------
     |  Class methods defined here:
     |
     |  combine(...) from builtins.type
     |      date, time -> datetime with same date and time fields
     |
     |  fromisoformat(...) from builtins.type
     |      string -> datetime from datetime.isoformat() output
     |
     |  fromtimestamp(...) from builtins.type
     |      timestamp[, tz] -> tz's local time from POSIX timestamp.
     |
     |  now(tz=None) from builtins.type
     |      Returns new datetime object representing current time local to tz.
     |
     |        tz
     |          Timezone object.
     |
     |      If no tz is specified, uses local timezone.
     |
     |  strptime(...) from builtins.type
     |      string, format -> new datetime parsed from a string (like time.strptime()).
     |
     |  utcfromtimestamp(...) from builtins.type
     |      Construct a naive UTC datetime from a POSIX timestamp.
     |
     |  utcnow(...) from builtins.type
     |      Return a new datetime representing UTC day and time.
     |
     |  ----------------------------------------------------------------------
     |  Static methods defined here:
     |
     |  __new__(*args, **kwargs) from builtins.type
     |      Create and return a new object.  See help(type) for accurate signature.
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  fold
     |
     |  hour
     |
     |  microsecond
     |
     |  minute
     |
     |  second
     |
     |  tzinfo
     |
     |  ----------------------------------------------------------------------
     |  Data and other attributes defined here:
     |
     |  max = datetime.datetime(9999, 12, 31, 23, 59, 59, 999999)
     |
     |  min = datetime.datetime(1, 1, 1, 0, 0)
     |
     |  resolution = datetime.timedelta(microseconds=1)
     |
     |  ----------------------------------------------------------------------
     |  Methods inherited from date:
     |
     |  __format__(...)
     |      Formats self with strftime.
     |
     |  isocalendar(...)
     |      Return a 3-tuple containing ISO year, week number, and weekday.
     |
     |  isoweekday(...)
     |      Return the day of the week represented by the date.
     |      Monday == 1 ... Sunday == 7
     |
     |  strftime(...)
     |      format -> strftime() style string.
     |
     |  toordinal(...)
     |      Return proleptic Gregorian ordinal.  January 1 of year 1 is day 1.
     |
     |  weekday(...)
     |      Return the day of the week represented by the date.
     |      Monday == 0 ... Sunday == 6
     |
     |  ----------------------------------------------------------------------
     |  Class methods inherited from date:
     |
     |  fromisocalendar(...) from builtins.type
     |      int, int, int -> Construct a date from the ISO year, week number and weekday.
     |
     |      This is the inverse of the date.isocalendar() function
     |
     |  fromordinal(...) from builtins.type
     |      int -> date corresponding to a proleptic Gregorian ordinal.
     |
     |  today(...) from builtins.type
     |      Current date or datetime:  same as self.__class__.fromtimestamp(time.time()).
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors inherited from date:
     |
     |  day
     |
     |  month
     |
     |  year

    class time(builtins.object)
     |  time([hour[, minute[, second[, microsecond[, tzinfo]]]]]) --> a time object
     |
     |  All arguments are optional. tzinfo may be None, or an instance of
     |  a tzinfo subclass. The remaining arguments may be ints.
     |
     |  Methods defined here:
     |
     |  __eq__(self, value, /)
     |      Return self==value.
     |
     |  __format__(...)
     |      Formats self with strftime.
     |
     |  __ge__(self, value, /)
     |      Return self>=value.
     |
     |  __getattribute__(self, name, /)
     |      Return getattr(self, name).
     |
     |  __gt__(self, value, /)
     |      Return self>value.
     |
     |  __hash__(self, /)
     |      Return hash(self).
     |
     |  __le__(self, value, /)
     |      Return self<=value.
     |
     |  __lt__(self, value, /)
     |      Return self<value.
     |
     |  __ne__(self, value, /)
     |      Return self!=value.
     |
     |  __reduce__(...)
     |      __reduce__() -> (cls, state)
     |
     |  __reduce_ex__(...)
     |      __reduce_ex__(proto) -> (cls, state)
     |
     |  __repr__(self, /)
     |      Return repr(self).
     |
     |  __str__(self, /)
     |      Return str(self).
     |
     |  dst(...)
     |      Return self.tzinfo.dst(self).
     |
     |  isoformat(...)
     |      Return string in ISO 8601 format, [HH[:MM[:SS[.mmm[uuu]]]]][+HH:MM].
     |
     |      timespec specifies what components of the time to include.
     |
     |  replace(...)
     |      Return time with new specified fields.
     |
     |  strftime(...)
     |      format -> strftime() style string.
     |
     |  tzname(...)
     |      Return self.tzinfo.tzname(self).
     |
     |  utcoffset(...)
     |      Return self.tzinfo.utcoffset(self).
     |
     |  ----------------------------------------------------------------------
     |  Class methods defined here:
     |
     |  fromisoformat(...) from builtins.type
     |      string -> time from time.isoformat() output
     |
     |  ----------------------------------------------------------------------
     |  Static methods defined here:
     |
     |  __new__(*args, **kwargs) from builtins.type
     |      Create and return a new object.  See help(type) for accurate signature.
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  fold
     |
     |  hour
     |
     |  microsecond
     |
     |  minute
     |
     |  second
     |
     |  tzinfo
     |
     |  ----------------------------------------------------------------------
     |  Data and other attributes defined here:
     |
     |  max = datetime.time(23, 59, 59, 999999)
     |
     |  min = datetime.time(0, 0)
     |
     |  resolution = datetime.timedelta(microseconds=1)

    class timedelta(builtins.object)
     |  Difference between two datetime values.
     |
     |  timedelta(days=0, seconds=0, microseconds=0, milliseconds=0, minutes=0, hours=0, weeks=0)
     |
     |  All arguments are optional and default to 0.
     |  Arguments may be integers or floats, and may be positive or negative.
     |
     |  Methods defined here:
     |
     |  __abs__(self, /)
     |      abs(self)
     |
     |  __add__(self, value, /)
     |      Return self+value.
     |
     |  __bool__(self, /)
     |      self != 0
     |
     |  __divmod__(self, value, /)
     |      Return divmod(self, value).
     |
     |  __eq__(self, value, /)
     |      Return self==value.
     |
     |  __floordiv__(self, value, /)
     |      Return self//value.
     |
     |  __ge__(self, value, /)
     |      Return self>=value.
     |
     |  __getattribute__(self, name, /)
     |      Return getattr(self, name).
     |
     |  __gt__(self, value, /)
     |      Return self>value.
     |
     |  __hash__(self, /)
     |      Return hash(self).
     |
     |  __le__(self, value, /)
     |      Return self<=value.
     |
     |  __lt__(self, value, /)
     |      Return self<value.
     |
     |  __mod__(self, value, /)
     |      Return self%value.
     |
     |  __mul__(self, value, /)
     |      Return self*value.
     |
     |  __ne__(self, value, /)
     |      Return self!=value.
     |
     |  __neg__(self, /)
     |      -self
     |
     |  __pos__(self, /)
     |      +self
     |
     |  __radd__(self, value, /)
     |      Return value+self.
     |
     |  __rdivmod__(self, value, /)
     |      Return divmod(value, self).
     |
     |  __reduce__(...)
     |      __reduce__() -> (cls, state)
     |
     |  __repr__(self, /)
     |      Return repr(self).
     |
     |  __rfloordiv__(self, value, /)
     |      Return value//self.
     |
     |  __rmod__(self, value, /)
     |      Return value%self.
     |
     |  __rmul__(self, value, /)
     |      Return value*self.
     |
     |  __rsub__(self, value, /)
     |      Return value-self.
     |
     |  __rtruediv__(self, value, /)
     |      Return value/self.
     |
     |  __str__(self, /)
     |      Return str(self).
     |
     |  __sub__(self, value, /)
     |      Return self-value.
     |
     |  __truediv__(self, value, /)
     |      Return self/value.
     |
     |  total_seconds(...)
     |      Total seconds in the duration.
     |
     |  ----------------------------------------------------------------------
     |  Static methods defined here:
     |
     |  __new__(*args, **kwargs) from builtins.type
     |      Create and return a new object.  See help(type) for accurate signature.
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  days
     |      Number of days.
     |
     |  microseconds
     |      Number of microseconds (>= 0 and less than 1 second).
     |
     |  seconds
     |      Number of seconds (>= 0 and less than 1 day).
     |
     |  ----------------------------------------------------------------------
     |  Data and other attributes defined here:
     |
     |  max = datetime.timedelta(days=999999999, seconds=86399, microseconds=9...
     |
     |  min = datetime.timedelta(days=-999999999)
     |
     |  resolution = datetime.timedelta(microseconds=1)

    class timezone(tzinfo)
     |  Fixed offset from UTC implementation of tzinfo.
     |
     |  Method resolution order:
     |      timezone
     |      tzinfo
     |      builtins.object
     |
     |  Methods defined here:
     |
     |  __eq__(self, value, /)
     |      Return self==value.
     |
     |  __ge__(self, value, /)
     |      Return self>=value.
     |
     |  __getinitargs__(...)
     |      pickle support
     |
     |  __gt__(self, value, /)
     |      Return self>value.
     |
     |  __hash__(self, /)
     |      Return hash(self).
     |
     |  __le__(self, value, /)
     |      Return self<=value.
     |
     |  __lt__(self, value, /)
     |      Return self<value.
     |
     |  __ne__(self, value, /)
     |      Return self!=value.
     |
     |  __repr__(self, /)
     |      Return repr(self).
     |
     |  __str__(self, /)
     |      Return str(self).
     |
     |  dst(...)
     |      Return None.
     |
     |  fromutc(...)
     |      datetime in UTC -> datetime in local time.
     |
     |  tzname(...)
     |      If name is specified when timezone is created, returns the name.  Otherwise returns offset as 'UTC(+|-)HH:MM'.
     |
     |  utcoffset(...)
     |      Return fixed offset.
     |
     |  ----------------------------------------------------------------------
     |  Static methods defined here:
     |
     |  __new__(*args, **kwargs) from builtins.type
     |      Create and return a new object.  See help(type) for accurate signature.
     |
     |  ----------------------------------------------------------------------
     |  Data and other attributes defined here:
     |
     |  max = datetime.timezone(datetime.timedelta(seconds=86340))
     |
     |  min = datetime.timezone(datetime.timedelta(days=-1, seconds=60))
     |
     |  utc = datetime.timezone.utc
     |
     |  ----------------------------------------------------------------------
     |  Methods inherited from tzinfo:
     |
     |  __getattribute__(self, name, /)
     |      Return getattr(self, name).
     |
     |  __reduce__(...)
     |      -> (cls, state)

    class tzinfo(builtins.object)
     |  Abstract base class for time zone info objects.
     |
     |  Methods defined here:
     |
     |  __getattribute__(self, name, /)
     |      Return getattr(self, name).
     |
     |  __reduce__(...)
     |      -> (cls, state)
     |
     |  dst(...)
     |      datetime -> DST offset as timedelta positive east of UTC.
     |
     |  fromutc(...)
     |      datetime in UTC -> datetime in local time.
     |
     |  tzname(...)
     |      datetime -> string name of time zone.
     |
     |  utcoffset(...)
     |      datetime -> timedelta showing offset from UTC, negative values indicating West of UTC
     |
     |  ----------------------------------------------------------------------
     |  Static methods defined here:
     |

In [228]:
dir(dts)

['MAXYEAR',
 'MINYEAR',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'date',
 'datetime',
 'datetime_CAPI',
 'sys',
 'time',
 'timedelta',
 'timezone',
 'tzinfo']

In [229]:
dir(dts.datetime)

['__add__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 'astimezone',
 'combine',
 'ctime',
 'date',
 'day',
 'dst',
 'fold',
 'fromisocalendar',
 'fromisoformat',
 'fromordinal',
 'fromtimestamp',
 'hour',
 'isocalendar',
 'isoformat',
 'isoweekday',
 'max',
 'microsecond',
 'min',
 'minute',
 'month',
 'now',
 'replace',
 'resolution',
 'second',
 'strftime',
 'strptime',
 'time',
 'timestamp',
 'timetuple',
 'timetz',
 'today',
 'toordinal',
 'tzinfo',
 'tzname',
 'utcfromtimestamp',
 'utcnow',
 'utcoffset',
 'utctimetuple',
 'weekday',
 'year']

In [230]:
dts.datetime.today?

In [231]:
df_base= dts.datetime.today()
df_base

datetime.datetime(2020, 11, 17, 0, 13, 48, 692439)

In [232]:
[df_base]

[datetime.datetime(2020, 11, 17, 0, 13, 48, 692439)]

In [233]:
dts.timedelta   ## Difference between two datetime values.

datetime.timedelta

In [203]:
df_datelist=[df_base - dts.timedelta(days=x) for x in range(0,20)]
df_datelist

[datetime.datetime(2020, 11, 16, 23, 44, 18, 936526),
 datetime.datetime(2020, 11, 15, 23, 44, 18, 936526),
 datetime.datetime(2020, 11, 14, 23, 44, 18, 936526),
 datetime.datetime(2020, 11, 13, 23, 44, 18, 936526),
 datetime.datetime(2020, 11, 12, 23, 44, 18, 936526),
 datetime.datetime(2020, 11, 11, 23, 44, 18, 936526),
 datetime.datetime(2020, 11, 10, 23, 44, 18, 936526),
 datetime.datetime(2020, 11, 9, 23, 44, 18, 936526),
 datetime.datetime(2020, 11, 8, 23, 44, 18, 936526),
 datetime.datetime(2020, 11, 7, 23, 44, 18, 936526),
 datetime.datetime(2020, 11, 6, 23, 44, 18, 936526),
 datetime.datetime(2020, 11, 5, 23, 44, 18, 936526),
 datetime.datetime(2020, 11, 4, 23, 44, 18, 936526),
 datetime.datetime(2020, 11, 3, 23, 44, 18, 936526),
 datetime.datetime(2020, 11, 2, 23, 44, 18, 936526),
 datetime.datetime(2020, 11, 1, 23, 44, 18, 936526),
 datetime.datetime(2020, 10, 31, 23, 44, 18, 936526),
 datetime.datetime(2020, 10, 30, 23, 44, 18, 936526),
 datetime.datetime(2020, 10, 29, 23, 44, 18, 936526),
 datetime.datetime(2020, 10, 28, 23, 44, 18, 936526)]

In [205]:
## Coverting into dataframes

In [234]:
df=pd.DataFrame(df_datelist)

In [235]:
df.columns=["Days"]

In [236]:
df.head()  ## This is my data

                        Days
0 2020-11-16 23:44:18.936526
1 2020-11-15 23:44:18.936526
2 2020-11-14 23:44:18.936526
3 2020-11-13 23:44:18.936526
4 2020-11-12 23:44:18.936526

In [237]:
dir(dts.datetime)

['__add__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 'astimezone',
 'combine',
 'ctime',
 'date',
 'day',
 'dst',
 'fold',
 'fromisocalendar',
 'fromisoformat',
 'fromordinal',
 'fromtimestamp',
 'hour',
 'isocalendar',
 'isoformat',
 'isoweekday',
 'max',
 'microsecond',
 'min',
 'minute',
 'month',
 'now',
 'replace',
 'resolution',
 'second',
 'strftime',
 'strptime',
 'time',
 'timestamp',
 'timetuple',
 'timetz',
 'today',
 'toordinal',
 'tzinfo',
 'tzname',
 'utcfromtimestamp',
 'utcnow',
 'utcoffset',
 'utctimetuple',
 'weekday',
 'year']

In [240]:
dir(df.Days.dts)

AttributeError: 'Series' object has no attribute 'dts'

In [246]:
type(df.Days)

pandas.core.series.Series

In [241]:
dir(df.Days.dt)

['__annotations__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_accessors',
 '_add_delegate_accessors',
 '_constructor',
 '_delegate_method',
 '_delegate_property_get',
 '_delegate_property_set',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_freeze',
 '_get_values',
 '_reset_cache',
 'ceil',
 'date',
 'day',
 'day_name',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'floor',
 'freq',
 'hour',
 'is_leap_year',
 'is_month_end',
 'is_month_start',
 'is_quarter_end',
 'is_quarter_start',
 'is_year_end',
 'is_year_start',
 'microsecond',
 'minute',
 'month',
 'month_name',
 'nanosecond',
 'normalize',
 'quarter',
 'round',
 'second',
 'strftime',
 'time',
 'timetz',
 'to_period',
 'to_pydatetime',
 'tz',
 'tz_convert',
 'tz_localize',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [248]:
df["Weekday"]= df["Days"].dt.day_name()
df
## This is our dataset and we need to convert categorical feature (weekday) into some ranked values

                         Days    Weekday
0  2020-11-16 23:44:18.936526     Monday
1  2020-11-15 23:44:18.936526     Sunday
2  2020-11-14 23:44:18.936526   Saturday
3  2020-11-13 23:44:18.936526     Friday
4  2020-11-12 23:44:18.936526   Thursday
5  2020-11-11 23:44:18.936526  Wednesday
6  2020-11-10 23:44:18.936526    Tuesday
7  2020-11-09 23:44:18.936526     Monday
8  2020-11-08 23:44:18.936526     Sunday
9  2020-11-07 23:44:18.936526   Saturday
10 2020-11-06 23:44:18.936526     Friday
11 2020-11-05 23:44:18.936526   Thursday
12 2020-11-04 23:44:18.936526  Wednesday
13 2020-11-03 23:44:18.936526    Tuesday
14 2020-11-02 23:44:18.936526     Monday
15 2020-11-01 23:44:18.936526     Sunday
16 2020-10-31 23:44:18.936526   Saturday
17 2020-10-30 23:44:18.936526     Friday
18 2020-10-29 23:44:18.936526   Thursday
19 2020-10-28 23:44:18.936526  Wednesday

In [247]:
weekday_map = {"Monday":1,"Tuesday":2,"Wednesday":3,"Thursday":4,"Friday":5,"Saturday":6,"Sunday":7}  ## Labelling

In [249]:
df["Weekday"]= df["Weekday"].map(weekday_map)

In [250]:
df

                         Days  Weekday
0  2020-11-16 23:44:18.936526        1
1  2020-11-15 23:44:18.936526        7
2  2020-11-14 23:44:18.936526        6
3  2020-11-13 23:44:18.936526        5
4  2020-11-12 23:44:18.936526        4
5  2020-11-11 23:44:18.936526        3
6  2020-11-10 23:44:18.936526        2
7  2020-11-09 23:44:18.936526        1
8  2020-11-08 23:44:18.936526        7
9  2020-11-07 23:44:18.936526        6
10 2020-11-06 23:44:18.936526        5
11 2020-11-05 23:44:18.936526        4
12 2020-11-04 23:44:18.936526        3
13 2020-11-03 23:44:18.936526        2
14 2020-11-02 23:44:18.936526        1
15 2020-11-01 23:44:18.936526        7
16 2020-10-31 23:44:18.936526        6
17 2020-10-30 23:44:18.936526        5
18 2020-10-29 23:44:18.936526        4
19 2020-10-28 23:44:18.936526        3

In [ ]:
## This is how we convert categoricals values into numerical values by using label encoding technique(i.e: labeling each label/data/value in categorical feature with some rank) and then replacing that categorical label by rank